body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: #ff9966;
}

h1 {
    color: #333;
}

select, button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}

button {
    background-color: #ff9966;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff7733;
}

.dog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.dog-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    width: 250px;
}

.dog-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.breed-name {
   margin-top: 10px;
   font-weight: bold;
   color: #444;
}
